body {
  margin: 0;
  font-size: 10px;
}

#navbar {
  background-color: #fff;
  width: 100%;
  height: 56px;
}

#lmenu {
  margin: 20px;
}

.dflex {
  display: flex;
}

.spacebetween {
  justify-content: space-between;
}

.align-center {
  align-items: center;
  align-content: center;
}

#logo {
  height: 40px;
}
.sbar {
  width: 400px;
  height: 24px;
  margin: 0;
  border: 1px gray solid;
}

.sbutton {
  height: 30px;
  margin: 0;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-0 {
  margin: 0px;
}

.p-sides-20 {
  padding: 0 20px;
}

.gray {
  color: grey;
}

.margin-sides {
  margin: 0 10px;
  padding: 0;
}

main {
  width: 90%;
  border: 1px black solid;
  margin: auto;
}

.d-flex {
  display: flex;
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.border-bottom {
  border-bottom: 1px solid lightgray;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vid-title {
  margin-top: 5px;
}

.title-txt {
  font-size: 18px;
  color: black;
  font-family: 'Roboto',sans-serif;
}

.icon-margin {
  margin-left: 16px;
  margin-bottom: 2px;
}

.statistics-text {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.button-interative {
  border: none;
  background-color: white;
  cursor: pointer;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 7px;
}

/* Adicionar CSS as thumbnails
.thumbnail {
 width: 90px;
} */